<div class="container">
  <h1 class="header center">My Playlists</h1>
  <div class="row center">
    <div class="col s12 m6 offset-m3">
      <hr/>
    </div>
    <div class="col s12 m6 offset-m3">
      <p>
         Spotify lets you manually create playlists, and follow playlists from other people.
      </p> 
      <p>
        But there are things you can't do, like rate and tag songs and make playlists based on those choices.        
      </p>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 m6 offset-m3">
      <p>
        This app fills that gap in Spotify's playlist features.
      </p>
    </div>
    <div class="col s12 m6 offset-m3">
      <hr/>
    </div>
  </div>
  <div class="row center">
    <form action="/login" method="GET" class="actions">
      <button type="submit" class="btn login">
        Log in to Spotify
      </button>
    </form>
  </div>
</div>
