  <h1>Manage Your Spotify Playlists</h1>
    <form action="/login" method="GET" class="actions">
        <button type="submit" class="login">
          Log in to Spotify
        </button>
    </form>
